
__pycache__/
*.py[cod]
*$py.class

*.so

build/
dist/

*.manifest
*.spec

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

socontra/database/socontra_demo_apartment_agent-agent_data.txt
socontra/database/socontra_demo_apartment_agent-agent_owner_data.txt
socontra/database/socontra_demo_apartment_agent-agent_owner_transaction_config.txt
socontra/database/socontra_demo_consumer_agent-agent_data.txt
socontra/database/socontra_demo_consumer_agent-agent_owner_data.txt
socontra/database/socontra_demo_consumer_agent-agent_owner_transaction_config.txt
socontra/database/socontra_demo_flight_agent-agent_data.txt
socontra/database/socontra_demo_flight_agent-agent_owner_data.txt
socontra/database/socontra_demo_flight_agent-agent_owner_transaction_config.txt
socontra/database/socontra_demo_group_admin_agent-agent_data.txt
socontra/database/socontra_demo_group_admin_agent-agent_owner_data.txt
socontra/database/socontra_demo_group_admin_agent-agent_owner_transaction_config.txt
socontra/database/socontra_demo_group_member_1-agent_data.txt
socontra/database/socontra_demo_group_member_1-agent_owner_data.txt
socontra/database/socontra_demo_group_member_1-agent_owner_transaction_config.txt
socontra/database/socontra_demo_group_member_2-agent_data.txt
socontra/database/socontra_demo_group_member_2-agent_owner_data.txt
socontra/database/socontra_demo_group_member_2-agent_owner_transaction_config.txt
socontra/database/socontra_demo_helper_agent1-agent_data.txt
socontra/database/socontra_demo_helper_agent1-agent_owner_data.txt
socontra/database/socontra_demo_helper_agent1-agent_owner_transaction_config.txt
socontra/database/socontra_demo_helper_agent2-agent_data.txt
socontra/database/socontra_demo_helper_agent2-agent_owner_data.txt
socontra/database/socontra_demo_helper_agent2-agent_owner_transaction_config.txt
socontra/database/socontra_demo_hotel_agent-agent_data.txt
socontra/database/socontra_demo_hotel_agent-agent_owner_data.txt
socontra/database/socontra_demo_hotel_agent-agent_owner_transaction_config.txt
socontra/database/socontra_demo_message_initiator-agent_data.txt
socontra/database/socontra_demo_message_initiator-agent_owner_data.txt
socontra/database/socontra_demo_message_initiator-agent_owner_transaction_config.txt
socontra/database/socontra_demo_message_receiver-agent_data.txt
socontra/database/socontra_demo_message_receiver-agent_owner_data.txt
socontra/database/socontra_demo_message_receiver-agent_owner_transaction_config.txt
socontra/database/socontra_demo_resort_agent-agent_data.txt
socontra/database/socontra_demo_resort_agent-agent_owner_data.txt
socontra/database/socontra_demo_resort_agent-agent_owner_transaction_config.txt
socontra/database/socontra_demo_supplier_agent-agent_data.txt
socontra/database/socontra_demo_supplier_agent-agent_owner_data.txt
socontra/database/socontra_demo_supplier_agent-agent_owner_transaction_config.txt
socontra/database/socontra_demo_supplier_agent1-agent_data.txt
socontra/database/socontra_demo_supplier_agent1-agent_owner_data.txt
socontra/database/socontra_demo_supplier_agent1-agent_owner_transaction_config.txt
socontra/database/socontra_demo_supplier_agent2-agent_data.txt
socontra/database/socontra_demo_supplier_agent2-agent_owner_data.txt
socontra/database/socontra_demo_supplier_agent2-agent_owner_transaction_config.txt
socontra/database/socontra_demo_supplier_agent3-agent_data.txt
socontra/database/socontra_demo_supplier_agent3-agent_owner_data.txt
socontra/database/socontra_demo_supplier_agent3-agent_owner_transaction_config.txt
socontra/database/socontra_demo_travel_customer-agent_data.txt
socontra/database/socontra_demo_travel_customer-agent_owner_data.txt
socontra/database/socontra_demo_travel_customer-agent_owner_transaction_config.txt
